body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid #0ff;
  background-color: #001020;
}
#restartBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0ff;
  color: #000;
  border: none;
  cursor: pointer;
}
