body, html {
  touch-action: none;
  overscroll-behavior: none;
}

body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

canvas {
  border: 2px solid #0ff;
  background-color: #001020;
}

#restartBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0ff;
  color: #000;
  border: none;
  cursor: pointer;
  display: none;
}
